@font-face {
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Bold.woff2") format("woff2"), url("../fonts/Commissioner-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Regular.woff2") format("woff2"), url("../fonts/Commissioner-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: drukwidecyr;
	font-display: swap;
	src: url("../fonts/drukwidecyr-bold.woff2") format("woff2"), url("../fonts/drukwidecyr-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
