.play {
    margin-bottom: 120px;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        align-items: flex-end;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: clamp(50px, 4.5vw, 80px);
        line-height: 120%;
        text-transform: uppercase;
        color: var(--desktop-black);

        @media (max-width: 768px) {
            font-size: 26px;
        }

    }

    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        @media (max-width: 768px) {
            & svg {
                display: none;
            }

        }
    }

    &__btn-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        color: var(--desktop-primary-orange);

        @media (max-width: 768px) {
            font-size: 14px;
            

        }

    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 9px;
        border-radius: 20px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--desktop-white);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--desktop-black);

            .play__card-btn {
                visibility: visible;
                opacity: 1;
                transition-delay: 0.2s;
            }

            .play__animation {
                transform: translateY(-100px);
            }

            .play__card-title,
            .play__card-txt {
                color: var(--desktop-white);
            }
        }
        @media (max-width: 1024px) {
            border-radius: 10px;
        }
    }

    &__animation {
        transition: transform 0.3s;
    }

    &__card-img{
        width: 100%;
    }

    &__card-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: clamp(20px, 2vw, 32px);
        line-height: 130%;
        text-transform: uppercase;
        color: var(--desktop-black);
        margin-bottom: 10px;
        margin-top: 62px;
        padding: 0 24px 10px 24px;
        max-width: 500px;
    }

    &__card-txt {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: var(--desktop-black);
        padding: 0 24px;
        padding-bottom: 24px;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 140%;
        }
    }

    &__card-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--desktop-primary-orange);
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: var(--desktop-white);
        border-radius: 16px;
        padding: 20px 24px;
        width: calc(100% - 40px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 24px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s ease;
        transition-delay: 0s;

        @media (max-width: 1024px) {
            font-size: 14px;
            padding: 10px 10px 10px 14px;
            // font-size: 14px;
            border-radius: 10px;
        }
        
    }
}

.play__articles {
    display: grid;
    grid-template-columns: 2fr 560px;
    gap: 16px;

    &-box {
        display: grid;
        grid-template-rows: 2fr 1fr;
        gap: 20px;
        border-right: 1px solid var(--desktop-grey-200);
        padding-right: 16px;
    }
}

